@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-logo {
  position: absolute;
  z-index: 1;
}

.page-main {
  flex-grow: 1;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 170px;
  list-style: none;
  padding: 0;
}

.header-menu .header-item {
  padding: 20px 16px;
  display: flex;
  align-items: center;
}

.header-menu .header-item:last-child {
  padding-right: 125px;
}

.header-menu .header-link.current-page::after {
  content: '';
  height: 2px;
  background-color: #756257;
  position: relative;
  top: 21px;
  display: block;
}

.welcome-svg {
  display: block;
  margin: 0 auto;
}

.header-buttons-list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  list-style: none;
  padding: 0;
}

.header-buttons-list .button-item {
  padding: 20px 12px;
}

.header-buttons-list .button-favorite {
  position: relative;
}

.header-buttons-list .button-favorite .counter {
  font-size: 10px;
  left: 8px;
  top: -11px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buttons-list .button-item-want {
  padding: 0;
  margin-left: 20px;
}

.main-header {
  color: #000000;
  padding: 0 70px;
}

.main-header a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}

.main-header .button-want {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  display: block;
}


.section-about {
  max-width: 651px;
  margin: 69px auto 90px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.mailing-list-header {
  color: #ffffff;
}

h2 + p {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
}

.advantages-list .advantages-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-list .advantages-item-image-right,
.advantages-list .advantages-item-image-left {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  width: 100%;
  flex-direction: row;
  grid-column: span 3;
}

.advantages-list .advantages-item-lightgray {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .advantages-item .advantages-wrapper {
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::after {
  content: '';
  display: block;
  position: relative;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.30);
  margin: 0 auto;
  top: 30px;
}

.advantages-item-image-left .advantages-title::after,
.advantages-item-image-right .advantages-title::after {
  background: rgba(255, 255, 255, 0.30);
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.promo-text {
  padding: 64px 0;
  max-width: 505px;
  margin: 0 auto;
}

.promo-about-text {
  margin-top: 20px;
}

.promo-about-page {
  margin-bottom: 20px;
}

.about-page {
  margin-bottom: 25px;
}

.about-text {
  margin-top: 25px;
}

.benefits-list {
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.benefits-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.about-benefits {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.booking {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.booking-wrapper,
.mailing-list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 592px;
  align-items: center;
  padding: 96px 0;
  margin: 0 auto;
}

.booking-wrapper .about-text,
.mailing-list-wrapper .about-text{
  margin-top: 0;
  margin-bottom: 54px;
}

.booking-wrapper .about-page,
.mailing-list-wrapper .about-page {
  margin-bottom: 20px;
}

.mailing-list-text {
  color:#ffffff;
}

.button-hotel-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;

}

.mailing-list-form {
  display: flex;
}

.input-email {
  border: none;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border-radius: 4px 0 0 4px;
}

.submit-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.submit-button-catalog {
  cursor: pointer;
}

.reset-button {
  cursor: pointer;
}

.social-list-wrapper {
  display: flex;
  justify-content:space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list .social-list-item {
  display: inline-block;
  padding: 10px;
}

.social-list .social-link {
  display: flex;
  align-content: center;
}

.footer-tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

}

.catalog-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.infrastructure-list {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.infrastructure-item,
.home-type-item {
  margin-bottom: 16px;
}

.infrastructure-item:last-child,
.home-type-item:last-child {
  margin: 0;
}

.home-type-list {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

.search-form {
  display: flex;
  margin-top: 40px;
}

.search-form-section {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.search-form-section-buttons {
  padding-top: 32px;
}

.search-form-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-form-wrapper:first-child {
  margin-right: 140px;
  max-width: 340px;
}

.price-wrapper {
  display: flex;
  margin-top: 32px;
}

.price-input-wrapper {
  position: relative;
  display: flex;
  width: 143px;
  height: 48px;
}

.price-input {
  width: 100%;
  padding: 12px 20px;
  border: none;
}

#from {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

#to {
  border-radius: 0 4px 4px 0;
}

.price-input-name {
  position: absolute;
  right: 20px;
  top: 12px;
}

.range-scale {
  width: 287px;
  height: 4px;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.range-bar {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-bar .range-button {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
}

.range-bar .range-button:focus-visible {
  outline: 3px solid #83B3D3;
}

.range-bar .range-button:active {
  outline: 2px solid #83B3D3;
}

.range-button-left {
  left: -10px;
}

.range-button-right {
  right: 0;
}

.search-results-header {
  display: flex;
  padding: 50px 0 40px;
  justify-content: space-between;
}

.search-results-section {
  padding: 0 70px;
}

.search-results-settings {
  display: flex;
  justify-content: space-between;
}

.search-results-change-view {
  display: flex;
  margin: 0 0 0 70px;
  list-style: none;
  padding: 0;
}

.change-view-item {
  padding: 0;
  margin: 0;
  margin-right: 8px;
}

.change-view-item .change-view-button {
  display: block;
  margin: 0;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}


.change-view-item .change-view-button:hover,
.change-view-item .change-view-button:active,
.change-view-item .change-view-button.selected-view {
  border-color: #000000;
}

.change-view-item .change-view-button:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.search-form-section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.infrastructure-name,
.home-type-name {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.price-input-name {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #e5e5e5;
}

.search-form-section button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px;
  width: 191px;
  border: none;
  border-radius: 4px;
}

.search-form-section button[type="reset"] {
  background-color: transparent;
  margin-top: 32px;
}

.search-form-section button[type="reset"]:hover {
  opacity: 0.6;
}

.search-form-section button[type="reset"]:focus-visible {
  outline: 3px solid #83B3D3;
}

.search-form-section button[type="reset"]:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form-section button[type="reset"]:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-results-sorting {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 14px 20px;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.rating-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.rating-list {
  display: flex;
  width: 140px;
  align-items: center;
  list-style: none;
  padding: 0;
}

.rating-list .rating-star {
  margin: 0 6px 0 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.product-list-item {
  outline: 1px solid #E6E6E6;
  padding: 20px;
}

.product-link-wrapper {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-description {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-about-link {
  padding: 8px 26px;
  border-radius: 4px;
}

.product-favorite-link {
  padding: 8px 20px;
  border-radius: 4px;
}

.product-buttons a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.product-buttons .product-about-link {
  background-color: #756157;
}
.product-buttons .product-favorite-link {
  background-color: #82B3D3;
}

.product-buttons .in-favorite {
  background-color: #7db54f;
}

.rating-text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  width: 140px;
  padding: 8px 22px;
  border-radius: 4px;
}

.pagination-wrapper {
  margin: 80px 0 60px 0;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.pagination-list .pagination-item {
  margin-left: 8px;
  padding: 0;
}

.pagination-list .pagination-item:first-child {
  margin-left: 0;
}

.pagination-list .pagination-link {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 4px;
}

.pagination-list .pagination-spacer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.pagination-list .current-page {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}

.section-hero {
  position: relative;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 485px;
  padding: 51px 0 0;
}

.section-hero::after {
  content: '';
  width: 100%;
  height: 57px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../images/icons/divider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mailing-list {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.no-picture {
  background-image: none;
}

.main-section {
  background-image: url("../images/subscribe-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px 70px 70px;
}

.button-want:hover, .button-want:focus,
.button-hotel-search:hover, .button-hotel-search:focus,
.product-about-link:hover, product-about-link:focus {
  background-color: #615048;
}

.button-want:active,
.button-hotel-search:active,
.product-about-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-want:disabled,
.button-want.disabled,
.button-hotel-search:disabled,
.button-hotel-search.disabled,
.product-about-link:disabled,
.product-about-link.disabled,
.submit-button:disabled,
.submit-button.disabled,
.submit-button-catalog:disabled,
.submit-button-catalog.disabled,
.product-favorite-link:disabled,
.product-favorite-link.disabled
.product-favorite-link.in-favorite.disabled,
.product-favorite-link.in-favorite:disabled,
.search-results-settings:disabled,
.search-results-settings.disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.submit-button:hover, .submit-button:focus,
.submit-button-catalog:hover, .submit-button-catalog:focus,
.product-favorite-link:hover, .product-favorite-link:focus,
.pagination-link:hover, .pagination-link:focus {
  background-color: #68a2ca;
}

.submit-button:active,
.submit-button-catalog:active,
.product-favorite-link:active,
.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.current-page:hover,
.pagination-link.current-page:focus,
.pagination-link.current-page:active,
.pagination-link.current-page:disabled,
.pagination-link.current-page.disabled {
  background-color: #F2F2F2;
  color: #000000;
}

.product-favorite-link.in-favorite:hover,
.product-favorite-link.in-favorite:focus {
  background-color:#6C9E42;
}

.product-favorite-link.in-favorite:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.search-results-sorting:hover,
.search-results-settings:focus {
  border-color: #68A2CA;
}

.social-link:hover svg path, .social-link:focus svg path {
  fill: #68A2CA;
}

.social-link:active svg path {
  fill: #68A2CA4D;
}
.footer-tel:hover, .footer-tel:focus {
  color: #756157;
}

.footer-tel:active {
  color: #7561574D
}

.footer-logo-htmlacademy:hover svg path,
.footer-logo-htmlacademy:focus svg path {
  fill: #756157;
}

.footer-logo-htmlacademy:active svg path {
  fill: #7561574D;
}
